<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
		<meta name="author" content="{{ site.author.name }}">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<!-- HTML5 for IE -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->

	    <!-- Style -->
	    <link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ ASSET_PATH }}/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
		<link href="{{ ASSET_PATH }}/css/pygmentize.css" rel="stylesheet">

		<!-- apple icons go here -->
	</head>

	<body>
		<div class="container-fluid">
			<div class="row-fluid">
			  <div class="span3 well">
				<h1><a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
				<h3 class="h2link">{% assign pages_list = site.pages %}</h2>
				<h3 class="h2link">{% assign group = 'navigation' %}</h2>
				<h3 class="h2link">{% include JB/pages_list %}</h2>
				<br>
				<div class="misc vcard">
					<h4>about</h4>
					<ul>
						<li class="contact"><address><span class="author fn n">{{ site.author.name }}</span> - <span class="fn email">{{ site.author.email }}</span></address></li>
						<li class="rss"><a href="http://feeds.feedburner.com/{{ site.author.feedname }}">Subscribe to RSS Feed</a></li>
						<li class="github"><a href="http://github.com/{{ site.author.github }}/" rel="me">github.com/{{ site.author.github }}</a></li>
						<li class="twitter"><a href="http://twitter.com/{{ site.author.twitter }}/" rel="me">twitter.com/{{ site.author.twitter }}</a></li>
						<!-- <li class="reddit"><a href="http://reddit.com/user/{{ site.author.reddit }}/" rel="me">reddit.com/user/{{ site.author.reddit }}</a></li> -->
						<!-- <li class="flickr"><a href="http://flickr.com/photos/{{ site.author.flickr }}/" rel="me">flickr.com/photos/{{ site.author.flickr }}</a></li> -->
						<li class="lastfm"><a href="http://last.fm/user/{{ site.author.lastfm }}/" rel="me">last.fm/user/{{ site.author.lastfm }}</a></li>
						<li class="btc_donate">Donate some btc's:<br />
							<span style="font-size: 0.5em;">
							<script src="http://coinwidget.com/widget/coin.js"></script>
							<script>
							CoinWidgetCom.go({
								wallet_address: "{{ site.author.btcaddy }}"
								, currency: "bitcoin"
								, counter: "count"
								, alignment: "bl"
								, qrcode: true
								, auto_show: false
								, lbl_button: "Donate"
								, lbl_address: "BTC Address:"
								, lbl_count: "donations"
								, lbl_amount: "BTC"
							});
							</script>
							</span></li>
					</ul>
					<ul class="tag_box inline">
						{% assign categories_list = site.categories %}
						{% include JB/categories_list %}
					</ul>
				</div>
				<p>&copy; {{ site.author.name }} 2013 with help from <a href="http://jekyllbootstrap.com">Jekyll Bootstrap</a></p>
			  </div>

			  <div class="offset-1" style="padding-top:20px;">
				  {{ content }}
			  </div>

		  </div>
	  </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ ASSET_PATH }}/js/jquery.min.js"><\/script>')</script>
    <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.fsk141.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://analytics.fsk141.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

  </body>
</html>
