---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
	<p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
	<br />
	&nbsp; # of words: {{ page.content | number_of_words }}
	<br />
	&nbsp; Tags:
	{% for tag in page.tags %}
		<a href="{{ baseurl }}/tags/#{{ tag }}">{{ tag }}</a>
	{% endfor %}
	</p>
  </header>

  <article class="post-content">
  {{ content }}

  {% if page.btcaddy != null %}
 	 <h3>{{ site.btcdonate.title }}</h3>

	 <p>{{ site.btcdonate.text }}<br /><br />

	<script src="http://coinwidget.com/widget/coin.js"></script>
	<script>
	CoinWidgetCom.go({
		wallet_address: "{{ page.btcaddy }}"
		, currency: "bitcoin"
		, counter: "count"
		, alignment: "bl"
		, qrcode: true
		, auto_show: false
		, lbl_button: "Donate"
		, lbl_address: "My Bitcoin Address:"
		, lbl_count: "donations"
		, lbl_amount: "BTC"
	});
	</script>
	</p>
  {% else %}
	<h3>{{ site.btcdonate.title }}</h3>

	<p>{{ site.btcdonate.text }}<br /><br />

	<script src="http://coinwidget.com/widget/coin.js"></script>
	<script>
	CoinWidgetCom.go({
	wallet_address: "{{ site.btcdonate.defaultaddy }}"
		, currency: "bitcoin"
		, counter: "count"
		, alignment: "bl"
		, qrcode: true
		, auto_show: false
		, lbl_button: "Donate"
		, lbl_address: "My Bitcoin Address:"
		, lbl_count: "donations"
		, lbl_amount: "BTC"
	});
	</script>
	</p>
	{% endif %}

	<h3>Comments</h3>
	{% include disqus %}

	<h3>Related posts</h3>
	<ul>
		{% for rpost in site.related_posts limit:6 %}
		  <li><a href="{{ rpost.url }}">{{ rpost.title }} <i>({{ rpost.date | date: '%B %d, %Y' }})</i></a></li>
		  {% endfor %}
	</ul>
  </article>

